* {
	margin: 0;
	padding: 0;
}

div {
  display: inline-block;
}

a {
  text-decoration: none;
}
 header img {
   height: 40px;
 }

 nav  {
	 height: 65px;
	 font-size: 14px;
 }

 .nav a, div {
	 padding: 0 10px;
 }

.nav-right {
	float: right;
}
