@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?paotd');
  src:  url('fonts/icomoon.eot?paotd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?paotd') format('truetype'),
    url('fonts/icomoon.woff?paotd') format('woff'),
    url('fonts/icomoon.svg?paotd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star-outlined:before {
  content: "\e900";
}
.icon-star:before {
  content: "\e901";
}
.icon-thumbs-up:before {
  content: "\e902";
}
.icon-typing:before {
  content: "\e903";
}
.icon-icloud:before {
  content: "\e904";
}
.icon-skype-with-circle:before {
  content: "\e905";
}
.icon-skype2:before {
  content: "\e906";
}
.icon-smashing:before {
  content: "\e907";
}
.icon-soundcloud:before {
  content: "\e908";
}
.icon-facebook-with-circle:before {
  content: "\e909";
}
.icon-facebook3:before {
  content: "\e90a";
}
.icon-google-with-circle:before {
  content: "\e90b";
}
.icon-google4:before {
  content: "\e90c";
}
.icon-instagram-with-circle:before {
  content: "\e90d";
}
.icon-instagram2:before {
  content: "\e90e";
}
.icon-tumblr-with-circle:before {
  content: "\e90f";
}
.icon-tumblr3:before {
  content: "\e910";
}
.icon-twitter-with-circle:before {
  content: "\e911";
}
.icon-cloud2:before {
  content: "\e912";
}
.icon-comment:before {
  content: "\e913";
}
.icon-twitter:before {
  content: "\e914";
}
.icon-star2:before {
  content: "\e915";
}
.icon-search2:before {
  content: "\e916";
}
.icon-heart2:before {
  content: "\e917";
}
.icon-thumbsup:before {
  content: "\e918";
}
.icon-skype3:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e986";
}
.icon-cloud:before {
  content: "\e9c1";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-amazon:before {
  content: "\ea87";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-vimeo:before {
  content: "\eaa0";
}
.icon-vimeo2:before {
  content: "\eaa1";
}
.icon-onedrive:before {
  content: "\eaaf";
}
.icon-wordpress:before {
  content: "\eab4";
}
.icon-blogger:before {
  content: "\eab7";
}
.icon-blogger2:before {
  content: "\eab8";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-tumblr2:before {
  content: "\eaba";
}
.icon-soundcloud2:before {
  content: "\eac4";
}
.icon-skype:before {
  content: "\eac5";
}

